<div class="kova-wear-section" style="height: 184px;">
	<div class="kova-wear-band">
		<div class="kova-wear-band-text">
			<div class="mdl-typography--display-2 mdl-typography--font-thin">NightRiderz</div>
			<p class="mdl-typography--headline mdl-typography--font-thin">Un projet de serveur Need for Speed ​​World, un jeu de course en ligne à monde ouvert et massivement multijoueur.</p>
		</div>
	</div>
</div>
<section class="section--center mdl-grid mdl-grid--no-spacing" style="max-width: 1044px;">
	<div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-desktop left-col" style="padding: 10px;padding-bottom:40px;">
		<h4>Mon travail</h4>
		<ul>
			<li>Création du site du projet</li>
		</ul>
		<h4>Photos</h4>
		<div class="popup-gallery-nr">
			<a href="images/nr/001.png" title="">
				<img src="images/nr/001.png" height="75">
			</a>
			<a href="images/nr/000.png" title="">
				<img src="images/nr/000.png" height="75">
			</a>
			<a href="images/nr/0001.png" title="">
				<img src="images/nr/0001.png" height="75">
			</a>
			<a href="images/nr/002.png" title="">
				<img src="images/nr/002.png" height="75">
			</a>
			<a href="images/nr/003.png" title="">
				<img src="images/nr/003.png" height="75">
			</a>
			<a href="images/nr/004.png" title="">
				<img src="images/nr/004.png" height="75">
			</a>
			<a href="images/nr/005.png" title="">
				<img src="images/nr/005.png" height="75">
			</a>
			<a href="images/nr/006.png" title="">
				<img src="images/nr/006.png" height="75">
			</a>
			<a href="images/nr/007.png" title="">
				<img src="images/nr/007.png" height="75">
			</a>
			<a href="images/nr/008.png" title="">
				<img src="images/nr/008.png" height="75">
			</a>
			<a href="images/nr/009.png" title="">
				<img src="images/nr/009.png" height="75">
			</a>
			<a href="images/nr/010.png" title="">
				<img src="images/nr/010.png" height="75">
			</a>
			<a href="images/nr/011.png" title="">
				<img src="images/nr/011.png" height="75">
			</a>
			<a href="images/nr/012.png" title="">
				<img src="images/nr/012.png" height="75">
			</a>
			<a href="images/nr/013.png" title="">
				<img src="images/nr/013.png" height="75">
			</a>
			<a href="images/nr/014.png" title="">
				<img src="images/nr/014.png" height="75">
			</a>
			<a href="images/nr/015.png" title="">
				<img src="images/nr/015.png" height="75">
			</a>
		</div>
		<script>
			$(document).ready(function() {
				$('.popup-gallery-nr').magnificPopup({
					delegate: 'a',
					type: 'image',
					tLoading: '',
					mainClass: 'mfp-img-mobile',
					gallery: {
						enabled: true,
						navigateByImgClick: true,
						preload: [0,1] // Will preload 0 - before current, and 1 after the current image
					},
					image: {
						tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
						titleSrc: function(item) {
							return item.el.attr('title');
						}
					}
				});
		
			});
		</script>
	</div>
	<div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop right-col" style="padding: 10px;padding-bottom:40px;">
		<h4>Détails du projet</h4>
		<ul class="demo-list-icon mdl-list">
			<li class="mdl-list__item"> <span class="mdl-list__item-primary-content">
    <i class="material-icons mdl-list__item-icon">schedule</i>
    2020
</span>
			</li>
			<li class="mdl-list__item"> <span class="mdl-list__item-primary-content">
    <i class="material-icons mdl-list__item-icon">work</i>
    Développeur PHP
  </span>
			</li>
			<li class="mdl-list__item"> <span class="mdl-list__item-primary-content">
    <i class="material-icons mdl-list__item-icon">http</i>
    <a href="https://nightriderz.world" target="_blank">nightriderz.world</a>
  </span>
			</li>
		</ul>
		<h4>Langues</h4>
		<span class="mdl-chip">
    <span class="mdl-chip__text">HTML</span>
		</span>
<span class="mdl-chip">
    <span class="mdl-chip__text">CSS</span>
		</span>
<span class="mdl-chip">
    <span class="mdl-chip__text">JAVASCRIPT</span>
		</span>
<span class="mdl-chip">
    <span class="mdl-chip__text">JQUERY</span>
		</span>
<span class="mdl-chip">
    <span class="mdl-chip__text">PHP 7.4</span>
		</span>
<span class="mdl-chip">
    <span class="mdl-chip__text">SQL</span>
		</span>
		<h4>Framework</h4>
		<span class="mdl-chip">
	<a href="https://getmdl.io/" target="_blank">
    	<span class="mdl-chip__text">Modern Design Lite</span>
		</a>
		</span>
		<h4>Logiciel</h4>
		<span class="mdl-chip">
	<a href="https://www.eclipse.org/ide/" target="_blank">
    	<span class="mdl-chip__text">Eclipse IDE</span>
		</a>
		</span>
	</div>
</section>