<div class="kova-wear-section" style="background:url(images/wr-1500x500.png) center top no-repeat;background-size: cover;height: 680px;">
	<div class="kova-wear-band">
		<div class="kova-wear-band-text">
			<div class="mdl-typography--display-2 mdl-typography--font-thin">World Return</div>
			<p class="mdl-typography--headline mdl-typography--font-thin">Un projet de serveur Need for Speed ​​World, un jeu de course en ligne à monde ouvert et massivement multijoueur.</p>
		</div>
	</div>
</div>
<section class="section--center mdl-grid mdl-grid--no-spacing" style="max-width: 1044px;">
	<div class="mdl-cell mdl-cell--8-col mdl-cell--8-col-desktop left-col" style="padding: 10px;padding-bottom:40px;">
		<h4>Mon travail</h4>
		<ul>
			<li>Création d'un site front-end/back-end (avec forum)</li>
			<li>Création d'un launcher</li>
			<li>Modding du client Need For Speed: World</li>
		</ul>
		<h4>Photos</h4>
		<div class="popup-gallery-wr">
			<h5>Première version du site</h5>
			<a href="images/wr/01.png" title="">
				<img src="images/wr/01.png" height="75">
			</a>
			<a href="images/wr/02.png" title="">
				<img src="images/wr/02.png" height="75">
			</a>
			<a href="images/wr/03.png" title="">
				<img src="images/wr/03.png" height="75">
			</a>
			<a href="images/wr/04.png" title="">
				<img src="images/wr/04.png" height="75">
			</a>
			<h5>Deuxième version du site</h5>
			<a href="images/wr/008.png" title="">
				<img src="images/wr/008.png" height="75">
			</a>
			<a href="images/wr/009.png" title="">
				<img src="images/wr/009.png" height="75">
			</a>
			<h5>Client</h5>
			<a href="images/wr/002.png" title="">
				<img src="images/wr/002.png" height="75">
			</a>
			<a href="images/wr/001.png" title="">
				<img src="images/wr/001.png" height="75">
			</a>
		</div>
		<script>
			$(document).ready(function() {
				$('.popup-gallery-wr').magnificPopup({
					delegate: 'a',
					type: 'image',
					tLoading: '',
					mainClass: 'mfp-img-mobile',
					gallery: {
						enabled: true,
						navigateByImgClick: true,
						preload: [0,1] // Will preload 0 - before current, and 1 after the current image
					},
					image: {
						tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
						titleSrc: function(item) {
							return item.el.attr('title');
						}
					}
				});
		
			});
		</script>
	</div>
	<div class="mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop right-col" style="padding: 10px;padding-bottom:40px;">
		<h4>Détails du projet</h4>
		<ul class="demo-list-icon mdl-list">
			<li class="mdl-list__item"> <span class="mdl-list__item-primary-content">
    <i class="material-icons mdl-list__item-icon">schedule</i>
    2017
</span>
			</li>
			<li class="mdl-list__item"> <span class="mdl-list__item-primary-content">
    <i class="material-icons mdl-list__item-icon">work</i>
    Développeur PHP
  </span>
			</li>
			<li class="mdl-list__item"> <span class="mdl-list__item-primary-content">
    <i class="material-icons mdl-list__item-icon">http</i>
    <font color="red">world-return.fr</font>
  </span>
			</li>
		</ul>
		<h4>Langues</h4>
		<span class="mdl-chip">
    <span class="mdl-chip__text">HTML</span>
		</span>
<span class="mdl-chip">
    <span class="mdl-chip__text">CSS</span>
		</span>
<span class="mdl-chip">
    <span class="mdl-chip__text">JAVASCRIPT</span>
		</span>
<span class="mdl-chip">
    <span class="mdl-chip__text">JQUERY</span>
		</span>
<span class="mdl-chip">
    <span class="mdl-chip__text">PHP 7.0</span>
		</span>
<span class="mdl-chip">
    <span class="mdl-chip__text">SQL</span>
		</span>
<span class="mdl-chip">
    <span class="mdl-chip__text">C#</span>
		</span>
		<h4>Framework</h4>
		<span class="mdl-chip">
	<a href="https://getmdl.io/" target="_blank">
    	<span class="mdl-chip__text">Modern Design Lite</span>
		</a>
		</span>
<span class="mdl-chip">
	<a href="https://github.com/silexlabs/amfphp-2.0" target="_blank">
    	<span class="mdl-chip__text">AmfPHP 2.0</span>
		</a>
		</span>
		<h4>Logiciel</h4>
		<span class="mdl-chip">
	<a href="http://codiad.com/" target="_blank">
    	<span class="mdl-chip__text">Codiad</span>
		</a>
		</span>
<span class="mdl-chip">
	<a href="https://visualstudio.microsoft.com/fr/vs/" target="_blank">
    	<span class="mdl-chip__text">Visual Studio</span>
		</a>
		</span>
<span class="mdl-chip">
	<a href="https://github.com/jindrapetrik/jpexs-decompiler" target="_blank">
    	<span class="mdl-chip__text">JPEXS Decompiler</span>
		</a>
		</span>
	</div>
</section>